<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    
<!-- Font Awesome -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<!-- Bootstrap core CSS -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
<!-- Material Design Bootstrap -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.0/css/mdb.min.css" rel="stylesheet">
<style>
    #login{
        text-align: center;
         margin-top: 20px;
    }
</style>

</head>
<body>
<div id="login">
     <h1>Login</h1>
    <form method="POST" action="/login">
        <input type="text" placeholder="username" name="username"><br><br>
        <input type="password"  placeholder="password" name="password"><br><br>
        <input type="submit" class="btn btn-primary"><br><br>
    </form>
    <a href="/signup">Signup</a>
    </div>
</body>
</html>