<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Signup</title>
    
<!-- Font Awesome -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<!-- Bootstrap core CSS -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
<!-- Material Design Bootstrap -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.0/css/mdb.min.css" rel="stylesheet">

<style>
    #signup{
        text-align: center;
         margin-top: 20px;
    }
</style>

</head>
<body>

    <div id="signup">
    <h1>SignUp</h1>
    <form method="POST" action="/signup">
        <input placeholder="First Name" name="firstName"><br><br>
        <input placeholder="Last Name" name="lastName"><br><br>        
        <input placeholder="username" name="username"><br><br>
        <input type="password" placeholder="password" name="password"><br><br>
        <input class="btn btn-primary"type="submit">
    </form>
    </div>>
</body>
</html>