#heading-Skills{
    font-family: 'Bitter' , 'Serif';
}

#Skills {
     margin-top: 80px; 
    /* margin-right: 125px;  */
    text-align: center;
    margin-left: 40px;
}

#List{
    margin-left: 40px;
}

#Skills:hover{
    border : 2px solid red;
    cursor: pointer;
}

#link{
    color: black;
    text-decoration: unset;
}
