.btn{
    width: 120px;
    background-color : rgb(0, 102, 255);
    border: solid 1px #eee;
    height:40px;
    margin: 30px;
    margin-left: 80px;
}

.btn:hover{
    background-color: lightblue;
}

.info{
    margin-left: 20px;
    margin-top: 100px;
}

.city{
    margin :20px;
    margin-left: 43px;
}

.ctry{
    margin :20px;
}

.root{
    background-color:   rgba(0, 132, 255, 0.5)
}

.header{
    color: rgb(39, 42, 192)
}