#heading-Contact{
    font-family: 'Bitter' , 'Serif';
}

#Contact {
    margin-left : 40px;
    margin-top : 130px;
    width: 250px;
}

#List {
   text-align: left;
}

#Contact:hover{
    border : 2px solid red;
    cursor: pointer;
}

#f1{
     font-size: 12px;
}

#link{
    color: black;
    text-decoration: unset;
}
