#EduDes {
    /* margin-left: 230px; */
    font-weight: 100;
    font-size: 14px;

}


#EduLeft{
 margin-right: 100px; 
font-weight: 100;
font-size: 12px; 
}

#Education {
    margin-left: 240px;
    font-weight: 100;
    font-size: 14px;
}
#heading-Education{
    font-size: 20px;
    margin-right: 408px;
    font-weight: 100px;
    font-family: 'Bitter' , 'Serif';
}
#Edu {
     margin-top : 60px;
}

#Edu:hover{
    border : 2px solid red;
    cursor: pointer;
}


#link{
    color: black;
    text-decoration: unset;
}