<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
 <style>
     #login{
         text-align: center;
     }
     h1{
         text-align: center;
     }
 </style>
</head>
<body>
    <h1>Login</h1>
    <form method="POST" action="/login" id="login">
        User id:<input placeholder="userid" name="username"><br><br>
        Password:<input type="password"  placeholder="password" name="password"><br><br>
        <input type="submit"><br><br>
        <a href="/signup">signup</a>
    </form>
</body>
</html>