<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
  <div >
      <h1> Update Student Data</h1>
      <form method="POST" action="/updateStudent">
            <input name="rollno" placeholder="Roll No." required ><br><br>
            <input name="name" placeholder="Name"><br><br>
            <input name="class" placeholder="Class"><br><br>
            <input name="age" placeholder="Age"><br><br>
            <input name="city" placeholder="City"><br><br>
            <button class="btn btn-primary">Submit</button>
      </form> 
</div>

</body>
</html>